<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link rel="stylesheet" href="./../assets/css/modifiers.css">
  <link rel="stylesheet" href="./../assets/css/grid.css">
  <link rel="stylesheet" href="./../assets/css/containers.css">
  <link rel="stylesheet" href="./../assets/css/table.css">
  <link rel="stylesheet" href="./../assets/css/forms.css">
  <link rel="stylesheet" href="./../assets/css/buttons.css">
  <link rel="stylesheet" href="./../assets/css/index.css">
</head>

<body class="__full-height-vh">
  <main class="__full-height-perc __overflow-hidden __row __align-items-center">
    <div class="__col">
      <div class="__row">
        <div class="__col __col-3 __col-offset-1">
          <article class="__card __text-center">
            <a href="./categorie.html" class="__button __button-link">
              <h3>Categoría</h3>
            </a>
          </article>
        </div>
        <div class="__col __col-3 __col-offset-2">
          <article class="__card __text-center">
            <a href="./provider.html" class="__button __button-link">
              <h3>Proveedor</h3>
            </a>
          </article>
        </div>
      </div>
      <div class="__row">
        <div class="__col __col-3 __col-offset-1">
          <article class="__card __text-center">
            <a href="./product.html" class="__button __button-link">
              <h3>Producto</h3>
            </a>
          </article>
        </div>
        <div class="__col __col-3 __col-offset-2">
          <article class="__card __text-center">
            <a href="./sales.html" class="__button __button-link">
              <h3>Vender</h3>
            </a>
          </article>
        </div>
      </div>
      <div class="__row">
        <div class="__col __col-3 __col-offset-1">
          <article class="__card __text-center">
            <a href="./models.html" class="__button __button-link">
              <h3>Modelos</h3>
            </a>
          </article>
        </div>
      </div>
    </div>
  </main>
</body>

</html>