<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link rel="stylesheet" href="./../assets/css/modifiers.css">
  <link rel="stylesheet" href="./../assets/css/grid.css">
  <link rel="stylesheet" href="./../assets/css/containers.css">
  <link rel="stylesheet" href="./../assets/css/table.css">
  <link rel="stylesheet" href="./../assets/css/forms.css">
  <link rel="stylesheet" href="./../assets/css/buttons.css">
  <link rel="stylesheet" href="./../assets/css/index.css">
</head>

<body class="__full-height-vh">

  <div class="__row __pt-2 __pb-3">
    <div class="__col __col-4 __col-offset-3">
      <div class="__card">
        <div class="__form-group __justify-evently">
          <span>Elija un modelo: </span>
          <div class="__form-group">
            <input type="radio" name="model" id="model-q" value="q" checked>
            <label for="model-q"> Modelo Q</label>
          </div>
          <div class="__form-group">
            <input type="radio" name="model" id="model-p" value="p">
            <label for="model-p"> Modelo P</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="__mx-1">
    <div id="table-container" class="__card __full-width-perc __overflow-scroll-y" style="max-height: 70vh;">
      <table id="table-q" class="__table __full-width-perc __text-center __table-bordered __table-hoverrable">
        <caption>Modelo Q</caption>
        <thead>
          <tr>
            <th>Producto</th>
            <th><abbr title="Demanda diaria">d</abbr></th>
            <th><abbr title="Demanda anual">D</abbr></th>
            <th><abbr title="Cantidad que debe ordenarse">Q</abbr></th>
            <th><abbr title="Costo de mantenimiento">H</abbr></th>
            <th><abbr title="Costo de preparación">S</abbr></th>
            <th><abbr title="Costo por unidad">C</abbr></th>
            <th><abbr title="Punto de reorden">R</abbr></th>
            <th><abbr title="Lead Time">L</abbr></th>
            <th>Costo anual Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tomate</td>
            <td>24 uni.</td>
            <td>25000 uni.</td>
            <td>230 uni.</td>
            <td><strong>$59</strong> ($2/uni.)</td>
            <td><strong>$56</strong> ($4/uni.)</td>
            <td><strong>$100</strong> ($10/uni.)</td>
            <td>250 uni.</td>
            <td>1 día</td>
            <td>$5.0000.000</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Producto</th>
            <th><abbr title="Demanda diaria">d</abbr></th>
            <th><abbr title="Demanda anual">D</abbr></th>
            <th><abbr title="Cantidad que debe ordenarse">Q</abbr></th>
            <th><abbr title="Costo de mantenimiento">H</abbr></th>
            <th><abbr title="Costo de preparación">S</abbr></th>
            <th><abbr title="Costo por unidad">C</abbr></th>
            <th><abbr title="Punto de reorden">R</abbr></th>
            <th><abbr title="Lead Time">L</abbr></th>
            <th>Costo anual Total</th>
          </tr>
        </tfoot>
      </table>

      <table id="table-p" class="__table __full-width-perc __text-center __table-bordered __table-hoverrable">
        <caption>Modelo P</caption>
        <thead>
          <tr class="__sticky">
            <th>Producto</th>
            <th><abbr title="Demanda diaria">d</abbr></th>
            <th><abbr title="Demanda anual">D</abbr></th>
            <th><abbr title="Cantidad que debe ordenarse">Q</abbr></th>
            <th><abbr title="Número de días transcurridos entre las revisiones">T</abbr></th>
            <th><abbr title="Número de desviación estándar para un nivel de servicio específico">z</abbr></th>
            <th><abbr title="Desviación estándar de la demanda durante la revisión y el plazo">z*σ(T+L)</abbr></th>
            <th><abbr title="Nivel actual de inventario">I</abbr></th>
            <th><abbr title="Nivel de servicio deseado">P</abbr></th>
            <th><abbr title="Desviación estándar durante el periodo de revisión y el plazo">σ(T+L)</abbr></th>
            <th><abbr title="Existencia de Seguridad">z*σ(L)</abbr></th>
            <th><abbr title="Desviación estandar de la demanda">σd</abbr></th>
            <th><abbr title="Lead Time">L</abbr></th>
            <th>Costo anual Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tomate</td>
            <td>24 uni.</td>
            <td>25000 uni.</td>
            <td>230 uni.</td>
            <td>2 días.</td>
            <td>1</td>
            <td>0.45</td>
            <td>500</td>
            <td>750</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>5 días.</td>
            <td>$5.0000.000</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Producto</th>
            <th><abbr title="Demanda diaria">d</abbr></th>
            <th><abbr title="Demanda anual">D</abbr></th>
            <th><abbr title="Cantidad que debe ordenarse">Q</abbr></th>
            <th><abbr title="Número de días transcurridos entre las revisiones">T</abbr></th>
            <th><abbr title="Número de desviación estándar para un nivel de servicio específico">z</abbr></th>
            <th><abbr title="Desviación estándar de la demanda durante la revisión y el plazo">z*σ(T+L)</abbr></th>
            <th><abbr title="Nivel actual de inventario">I</abbr></th>
            <th><abbr title="Nivel de servicio deseado">P</abbr></th>
            <th><abbr title="Desviación estándar durante el periodo de revisión y el plazo">σ(T+L)</abbr></th>
            <th><abbr title="Existencia de Seguridad">z*σ(L)</abbr></th>
            <th><abbr title="Desviación estandar de la demanda">σd</abbr></th>
            <th><abbr title="Lead Time">L</abbr></th>
            <th>Costo anual Total</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </section>

  <script type="text/javascript">
    const radio_p = document.getElementById('model-p'),
      radio_q = document.getElementById('model-q');

    const table_container = document.getElementById('table-container'),
      table_p = document.getElementById('table-p'),
      table_q = document.getElementById('table-q'),
      table_container_height = table_container.clientHeight,
      table_height = (table_p.style.display == 'none') ? table_p.clientHeight : table_q.clientHeight;

    function changeTable() {
      if (radio_p.checked) {
        table_q.style.display = 'none';
        table_p.style.display = 'table';
      } else {
        table_p.style.display = 'none';
        table_q.style.display = 'table';
      }
    }
    changeTable();
    radio_p.addEventListener("click", changeTable);
    radio_q.addEventListener("click", changeTable);
  </script>

</body>

</html>