<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link rel="stylesheet" href="./../assets/css/modifiers.css">
  <link rel="stylesheet" href="./../assets/css/grid.css">
  <link rel="stylesheet" href="./../assets/css/containers.css">
  <link rel="stylesheet" href="./../assets/css/table.css">
  <link rel="stylesheet" href="./../assets/css/forms.css">
  <link rel="stylesheet" href="./../assets/css/buttons.css">
  <link rel="stylesheet" href="./../assets/css/index.css">
</head>

<body class="__full-height-vh">
  <main class="__row __full-height-perc __overflow-hidden">
    <div id="form-container" class="__col __col-offset-3 __col-4 __align-self-center">
      <form action="" class="__card">
        <header class="__form-header">
          <h2 class="__title">Venta</h2>
          <p class="__description">Elige un producto junto con su cantidad para venderlo.</p>
        </header>
        <div class="__form-body">
          <div class="__form-group">
            <label for="stock_product">Producto: </label>
            <select id="stock_product" required>
              <option value="" selected disabled>Elige una</option>
              <option value="">Manzana</option>
              <option value="">Banana</option>
              <option value="">Algo más</option>
            </select>
          </div>
          <div class="__form-group">
            <label for="category_remove">Cantidad: </label>
            <input id="category_remove" type="number" required placeholder=" ">
          </div>
          <div class="__form-group">
            <span>
              Precio unitario: <strong>$49</strong>
            </span>
          </div>
          <div class="__form-group">
            <span>
              Total: <strong>$188</strong>
            </span>
          </div>
        </div>
        <footer class="__form-footer __form-group-buttons">
          <button class="__button __button-success">Vender</button>
          <button class="__button __button-secondary">Limpiar campos</button>
        </footer>
      </form>
    </div>
  </main>
</body>

</html>