.__row > .__col#form-container {
  align-self: center;
}
body {
  background-image: url('./../images/efbd02590b3f438ea531ffde8b8ef63d.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}